/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: url("/img/hero.png") no-repeat;
  background-size: cover;
  height: 100vh;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

@media (min-width: 768px){
  .hero__title {
    font-size: 54px !important;
  }

  .button {
    font-size: calc(0.875rem * var(--ifm-button-size-multiplier)) !important;
  }

  .container {
    width: 75% !important;
    margin-left: auto;
    margin-right: auto;
  }

  .content {
    width: 83.333% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 25px;
  }
}


.button {
  color: white !important;
  font-size: calc(0.7rem * var(--ifm-button-size-multiplier));
  background-color: transparent;
}

.hero__title {
  font-size: 42px;
  color: #fff;
}

.hero__subtitle {
  font-size: 24px;
  color: rgb(255, 255, 255);
}

.button {
  margin: 10px 10px 0 0;
  border-color: #fff;
  border: 1px solid #c7c7c7;
  text-shadow: 0 0 8px #000;
}

.button:hover{
  background-color: #fff;
  color: #525255 !important;
  border-color: rgba(255,255,255,0.7);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  width: 100%;
  display: block;
}

.content {
  width: 100%;
  display: block;
}

.aspect {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  width: 75%;
  padding-top: 40.25%; 
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}